.DS_Store

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# misc
*.pem
.env
.env*.local
!.env.example

# typescript
*.tsbuildinfo
next-env.d.ts

# local embedded postgres data
/.pgdata
